@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply rounded-sm bg-gray-300 px-2 dark:bg-gray-800 dark:text-red-400;
  }
}

@layer components {
  .title {
    @apply mt-8 text-center text-3xl font-bold dark:text-gray-100;
  }
  .toc-active {
    @apply font-bold text-emerald-600 dark:text-emerald-400;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.3s ease-in-out;
}
.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #dc2626;
}
