@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply mt-8 text-center text-3xl font-bold
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.3s ease-in-out;
}
.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}
