@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans TC', ui-sans-serif, system-ui;
  }

  code {
    @apply mx-1 rounded bg-gray-300 px-2 py-1 font-medium dark:bg-gray-900 dark:text-orange-300;
  }
}

@layer components {
  .title {
    @apply mt-8 text-center text-3xl font-bold dark:text-gray-100;
  }
  .toc-active {
    @apply font-bold text-emerald-600 dark:text-emerald-400;
  }
  .fadeInMoveDown {
    animation: fadeInMoveDown 1s ease-out forwards;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.3s ease-in-out;
}
.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #cd3333;
}

@keyframes fadeInMoveDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
